<img src="">

<div class="content">
  <h2 id="about">About</h2>

  <p>Born just outside New York, I’ve been Dead-set on working in the Mortuary
  sciences since Birth. A natural tinkerer, I began burial services for live cats
  at age 9. For years, I’ve killed the competition with my skills in corpse
  Embalming and preparation.</p>

  <p>After taking a short sabbatical building a tarantuala farm on my family’s
  estate, I’ve returned to my passion for the Deceased as a freelancer. Past
  examples of my event management and cremation work include the play production
  of the original thanksgiving at camp chippewa.</p>
</div>
