<img src="">

<div class="content">
  <h2 id="contact">Contact</h2>

  <p>If you are actually interested in Mortuary services, please look elsewhere.
  Also, my sincerest condolences.</p>

  <p>This website is a satirical take on the personal branding we do to market
  ourselves, from logos to Tweets to websites. And now here I am explaining the
  joke. Kill me.

  <p>Speaking of irony, check out the case study for this design project on my
  website.</p>

  <p>Need a contract designer?</p>

  <p><a class="internal-link" href="mailto:Hannah@Opihana.com">Email
    me.</a></p>
</div>
