<div class="product__container">
  <img class="product__image" src="./assets/images/hand.png" alt="enamel pin of
  a skeleton hand pointing upwards and text that reads 'i can lend a hand'
  colored black and set in gold metal">

  <div class="content">
    <h2 id="products">Products</h2>

    <p>The mortuary sciences are a dying art.</p>

    <p>Consider purchasing one of these grotesque pins to adorn your corpse or
    yourself.</p>

    <p><a target="_blank" class="flicker hand hand__right"
          href="https://www.etsy.com/listing/559172154/skeleton-hand-enamel-pin">Shop on etsy.</a></p>
  </div>
</div>
