<img src="">

<div class="content">
  <h2>Services</h2>

  <p>Allow me to bury your Grave concerns about the following:</p>

  <ul>
    <li>Embalming </li>
    <li>Cremation</li>
    <li>Caskets, Vaults, Urns </li>
    <li>Preparation (Hair, makeup, clothing) </li>
    <li>Wake event management </li>
    <li>Privacy family space </li>
    <li>Livery </li>
    <li>Burial </li>
    <li>Anatomical gifts </li>
    <li>Scientific donations </li>
    <li>Corpse revival (extra cost) </li>
  </ul>
</div>
