<div class="product__container">
  <a
     href="https://www.etsy.com/listing/572975195/dying-to-be-at-your-service-enamel-pin?ref=listing-shop-header-0"
     target="_blank"><img class="product__image" src="./assets/images/service.png" alt="enamel pin
  with the text 'dying to be of service' and image of casket colored gold on
  silver metal"></a>

  <div class="content">
    <h2 id="services">Services</h2>

    <p>Allow me to bury your grave concerns about the following:</p>

    <ul>
      <li>Embalming </li>
      <li>Cremation</li>
      <li>Caskets, Vaults, Urns </li>
      <li>Preparation (Hair, makeup, clothing) </li>
      <li>Wake event management </li>
      <li>Privacy family space </li>
      <li>Livery </li>
      <li>Burial </li>
      <li>Anatomical gifts </li>
      <li>Scientific donations </li>
      <li>Corpse revival (extra cost) </li>
    </ul>
  </div>
</div>
