html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: $black;
  color: $grey;
  padding: $small-padding;
  width: 100%;

  @media #{$medium-devices} {
    padding: $medium-padding;
  }

  @media #{$large-devices} {
    padding: $large-padding;
  }
}

section {
  padding: $small-padding 0 0;

  @media #{$medium-devices} {
    padding: $medium-padding;
  }

  @media #{$large-devices} {
    padding: $large-padding;
  }

  &:last-of-type {
    padding-bottom: $small-padding;
  }
}

.product__container {
  @media #{$medium-devices} {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: $large-padding;
  }
}

.phone-only {
  @media #{$medium-devices} {
    display: none;
  }
}

.product__image {
  width: 100%;
}

.home {
  height: calc(100vh - #{$small-padding} * 2);
  margin-bottom: $small-padding;

  @media #{$large-devices} {
    margin-bottom: $medium-padding;
  }

  @media #{$large-devices} {
    display: grid;
    height: calc(100vh - #{$large-padding} * 2);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(80vh - #{$large-padding} * 2) 1fr;
    margin-bottom: $large-padding;
  }

  .logo {
    margin-bottom: $small-padding;

    @media #{$large-devices} {
      margin: 0 auto;
    }

    img {
      max-width: 90px;

      @media #{$medium-devices} {
        max-width: 150px;
      }

      @media #{$large-devices} {
        max-width: 300px;
      }
    }
  }

  .logo, header {
    align-self: center;
  }
}

.phone-only {
  @media #{$medium-devices} {
    display: none;
  }
}
