.internal-link:hover, .internal-link:focus {
  &:before, &:after {
    content: "✞";
    position: absolute;
  }

  &:before {
    left: -20px;
  }

  &:after {
    right: -20px;
  }
}

.hand {
  color: #fff;

  &::after {
    content: "";
    background: url("/assets/images/hand.svg") no-repeat;
    background-size: contain;
    display: inline-block;
    height: 80px;
    width: 30px;
    vertical-align: middle;
  }

  &__right:after {
    margin-left: 40px;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  }

  &__down {
    @include position-at-bottom-of-viewport;
    text-align: center;
  }

  &__down:after {
    display: block;
    margin: 20px auto;
  }
}
