html {
  font-family: 'Balthazar', cursive;
  font-size: 16px;
}

h1 {
  color: $white;
  font-family: 'Pirata One', cursive;
  font-size: 3em;
  letter-spacing: 8px;
  margin: 0 0 10px 0;

  @media #{$medium-devices} {
    font-size: 5em;
  }
}

h2 {
  font-family: 'Pirata One', cursive;
  color: $white;
  font-size: 3em;
  letter-spacing: 3px;
  margin: 0;

  @media #{$medium-devices} {
    font-size: 4.5em;
  }
}

h3 {
  font-size: 1.5em;

  @media #{$medium-devices} {
    font-size: 2em;
  }
}

h4 {
  font-size: 1.5em;
}

h3, h4 {
  letter-spacing: 2px;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

a {
  color: $grey;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $white;
  }
}

p, li {
  font-size: 1.2em;
  letter-spacing: 2.5px;
  line-height: 1.2em;

  @media #{$medium-devices} {
    font-size: 1.5em;
  }
}

.flicker {
  animation: flicker 8s linear infinite;

  &:hover {
    animation: none;
  }
}

@keyframes flicker {
  0%, 9%, 11%, 14%, 16%, 30%, 51%, 86%, 88%, 100% {
    opacity: 1;
  }

  10%, 15%, 31%, 50%, 52%, 85%, 87% {
    opacity: .15;
  }
}
