html {
  font-family: 'Unica One', cursive;
  font-size: 16px;
}

h1 {
  color: $white;
  font-family: 'Pirata One', cursive;
  font-size: 5em;
  letter-spacing: 8px;
  margin: 0 0 10px 0;
}

h2 {
  font-family: 'Pirata One', cursive;
  color: $white;
  font-size: 4.5em;
  letter-spacing: 3px;
  margin: 0;
}

h3 {
  font-family: 'Unica One', cursive;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

p, li {
  font-size: 1.5em;
  letter-spacing: 2.5px;
}

.flicker {
  animation: flicker 5s linear infinite;
}

@keyframes flicker {
  0%, 13%, 15%, 18%, 20%, 40%, 86%, 100% {
    opacity: 1;
  }

  14%, 19%, 42%, 85% {
    opacity: .15;
  }
}
