$black: #000000;
$white: #ffffff;
$grey: #B2B2B2;

$small-padding: 50px;
$medium-padding: 60px;
$large-padding: 100px;

$medium-devices: "screen and (min-width: 415px)";
$large-devices: "screen and (min-width: 769px)";

@mixin position-at-bottom-of-viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  @media #{$medium-devices} {
    right: 20px;
    left: initial;
  }
}
