<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ sit.title }}</title>
    {% include analytics.html %}
    <link
    href="https://fonts.googleapis.com/css?family=Balthazar|Unica+One"
    rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="home">
      <div class="logo">
        <img src="./assets/images/logo.svg" alt="sillouette style image of white
        collar and X's for braids to represent Wednesday Addams' style in a
        minimalistic sense">
      </div>

      <header>
        <h3>Hell<span class="flicker">o</span>, I'm</h3>
        <h1>Wednesday</h1>
        <h3>Freelance Mortician</h3>
      </header>

      <nav>
        <h4><a class="internal-link" href="#about">About</a></h3>
        <h4><a class="internal-link" href="#services">Services</a></h3>
        <h4><a class="internal-link" href="#products">Products</a></h3>
        <h4><a class="internal-link" href="#contact">Contact</a></h3>
      </nav>
    </div>

    <section>
      {% include about.html %}
    </section>
    <section>
      {% include services.html %}
    </section>
    <section>
      {% include products.html %}
    </section>
    <section>
      {% include contact.html %}
    </section>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
